@page "/post-cat-control-EDSEWHD"
<MudContainer Class="object-center">
    <MudTable @ref="@_table" Items="@_elements">
        <HeaderContent>
            <MudTh>Category Name</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Category Name">@context.Name</MudTd>
        </RowTemplate>
        <PagerContent>
            <div class="d-flex flex-column align-center">
                <MudPagination ShowFirstButton="true" ShowLastButton="true" SelectedChanged="PageChanged"
                   Count="@paginationData.TotalPages" Class="mt-4 pa-4" />
            </div>
        </PagerContent>
    </MudTable>
</MudContainer>